* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #afac9b;
    font-family: Consolas, serif;
  }
  
  ul {
    list-style: none;
    margin: 0 !important;
  }
  
  h6 a {
    display: inline-block;
    color: #3a682b;
    padding: 4px;
    border-radius: 4px;
  }
  
  img {
    max-width: 100%;
  }
  
  button:focus {
    outline: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #473a43;
    margin: 0;
  }
  p {
    color: #473a43;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
  }
  .wrapper {
    padding-top: 64px;
    margin: auto;
    width: 50%;
  }
  .container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .d-flex-2 {
    display: flex;
    align-items: center;
  }
  .info-boxes {
    display: inline-block;
  }
  .info-box {
    outline: 1px solid #473a43;
    background-color: #c2bfad;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    height: 256px;
    width: auto;
    float: left;
  }
  .tag {
    margin-top: 8px;
    background-color: #1d1f1c;
    color: #d45858;
    display: inline-block;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .summary {
    text-align: center;
    color: #473a43;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
  }
  .category {
    padding: 16px;
    margin: 32px;
    outline: 1px solid #473a43;
  }
  .timeline-wrapper {
    padding: 80px 0;
  }
  .events-wrapper {
    position: relative;
  }
  .timeline-title h2 {
    text-align: center;
    color: #473a43;
    font-weight: 600;
    font-size: 32px;
  }
  .back {
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .back a{
    color: #3a682b;
  }
  .timeline-footer-title h2 {
    text-align: center;
    color: #473a43;
    font-weight: 600;
    margin-top: 80px;
    font-size: 24px;
  }
  .timeline-footer-paragraph {
    text-align: center;
    margin: auto;
    color: #473a43;
    font-size: 16px;
    width: 400px;
    margin-top: 8px;
  }
  .events-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 2px;
    background: #473a43;
    top: 20px;
  }
  .event {
    margin-bottom: 22px;
  }
  .event-blank {
    width: 50%;
  }
  .event-text {
    width: 512px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  .event-text h6 {
    color: #1d1f1c;
    font-weight: 900;
    display: inline-block;
    font-size: 1rem;
  }
  .event-text span {
    color: #1d1f1c;
    display: block;
    width: 100%;
  }
  .event:nth-child(even) .event-text span {
    text-align: right;
  }
  .event-circle {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -6px;
    background: #473a43;
    border-radius: 50%;
  }
  .event:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .event:nth-child(even) .event-circle {
    right: -6px;
    left: unset;
  }
  .event:nth-child(even) .event-text {
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
  }
  
  @media all and (max-width: 991px) {
  }
  @media all and (max-width: 768px) {
    .events-wrapper::before {
      right: unset;
      top: 0;
    }
    .event:nth-child(2n) .event-text {
      padding-left: 30px;
      padding-right: 0;
      text-align: left;
    }
    .event:nth-child(2n) .event-circle {
      left: -6px;
      right: unset;
    }
    .event-blank {
      display: none;
    }
    .event-text {
      width: 100%;
    }
    .event:nth-child(even) .event-text span {
      text-align: left !important;
    }
  }
  @media all and (max-width: 575px) {
  }
  @media all and (max-width: 360px) {
    .events-wrapper::before {
      top: 32px;
    }
  }
