@import "https://db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas";

*
{
	margin:0;
	padding:0
}

.authentication
{
	color:#000;
	display:flex;
	height:100vh;
	text-align:center;
	vertical-align:baseline;
	width:100vw
}

.authentication a
{
	color:#FFF;
	font-size:14px;
	text-decoration:none
}

.authentication button
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#FFF;
	display:inline-block;
	padding:10px 8px
}

.authentication button a
{
	display:flex
}

.authentication p
{
	color:#000;
	font-size:14px;
	margin:0;
	width:60%
}

.authentication svg
{
	height:15px;
	width:15px
}

.back
{
	margin:auto;
	text-align:center
}

.back a
{
	color:#3a682b;
	font-weight:600
}

.category
{
	margin:32px;
	outline:1px solid #473a43;
	padding:16px
}

.d-flex-2
{
	display:flex
}

.event
{
	margin-bottom:22px
}

.event-blank
{
	width:50%
}

.event-circle
{
	background:#473a43;
	border-radius:50%;
	content:"";
	height:12px;
	left:-6px;
	position:absolute;
	width:12px
}

.event-text
{
	box-sizing:border-box;
	padding-left:30px;
	position:relative;
	width:512px
}

.event-text h6
{
	color:#1d1f1c;
	display:inline-block;
	font-size:1rem;
	font-weight:900
}

.event-text span
{
	color:#1d1f1c;
	display:block;
	width:100%
}

.event:nth-child(even) .event-circle
{
	left:unset;
	right:-6px
}

.event:nth-child(even) .event-text
{
	padding-left:0;
	padding-right:30px;
	text-align:right
}

.event:nth-child(even) .event-text span
{
	text-align:right
}

.events-wrapper
{
	margin-top:40px;
	position:relative
}

.events-wrapper::before
{
	background:#473a43;
	content:"";
	height:100%;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:20px;
	width:2px
}

.faqs-container
{
	box-sizing:border-box;
	margin:0 auto;
	padding:0 10px;
	width:100%
}

.image-input
{
	margin:10px 20px
}

.image-wrapper
{
	display:flex
}

.image-wrapper img
{
	border:1px solid #000;
	max-height:200px;
	max-width:200px
}

.info-box
{
	background-color:#c2bfad;
	display:flex;
	height:550px;
	margin-right:8px;
	margin-top:8px;
	outline:1px solid #473a43;
	padding:8px;
	position:relative;
	vertical-align:baseline;
	width:256px
}

.info-box img
{
	border:1px solid #000;
	margin:10px auto
}

.info-boxes
{
	display:flex
}

.summary
{
	color:#473a43;
	font-weight:600;
	margin-bottom:40px;
	margin-top:40px;
	text-align:center
}

.summary h2
{
	font-size:32px;
	padding-top:80px
}

.tag
{
	background-color:#1d1f1c;
	color:#d45858!important;
	display:inline-block;
	text-decoration:none
}

.timeline-footer-paragraph
{
	color:#473a43;
	font-size:16px;
	margin:auto;
	max-width:400px;
	text-align:center
}

.timeline-footer-title
{
	display:flex;
	padding:0 40px
}

.timeline-footer-title div
{
	min-width:200px
}

.timeline-footer-title h2
{
	color:#473a43;
	font-size:24px;
	font-weight:600;
	margin-top:80px;
	text-align:center
}

.timeline-title h2
{
	color:#473a43;
	font-size:32px;
	font-weight:600;
	text-align:center
}

.timeline-wrapper
{
	padding:80px 0
}

.wrapper
{
	margin:auto;
	padding-top:64px;
	width:50%
}

::-webkit-file-upload-button
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#FFF;
	display:inline-block;
	margin:0 40px;
	padding:8px
}

body
{
	background-color:#afac9b;
	font-family:'Consolas'
}

button:focus
{
	outline:none
}

h1,h2,h3,h4,h5,h6
{
	color:#473a43;
	margin:0
}

h6 a
{
	border-radius:4px;
	color:#3a682b;
	display:inline-block;
	padding:4px
}

img
{
	max-width:100%
}

p
{
	color:#473a43;
	font-size:14px;
	line-height:26px;
	margin:0
}

ul
{
	list-style:none;
	margin:0!important
}

@media all and (max-width: 768px) {
	.event-blank
	{
		display:none
	}

	.event-text
	{
		width:100%
	}

	.event:nth-child(2n) .event-circle
	{
		left:-6px;
		right:unset
	}

	.event:nth-child(2n) .event-text
	{
		padding-left:30px;
		padding-right:0;
		text-align:left
	}

	.event:nth-child(even) .event-text span
	{
		text-align:left!important
	}

	.events-wrapper::before
	{
		right:unset;
		top:0
	}
}

.accordion
{
	font-family:'Consolas';
	margin:20px auto;
	max-width:100%;
	width:100%
}

.accordion .accordion-content
{
	max-height:0;
	opacity:0;
	overflow:hidden;
	transition:opacity 200ms linear,max-height 200ms linear
}

.accordion .accordion-content p
{
	font-size:1rem;
	font-weight:300;
	margin:2em 0
}

.accordion .accordion-item
{
	border-bottom:1px solid #000
}

.accordion .accordion-item button[aria-expanded='true']
{
	border-bottom:1px solid #1d1f1c
}

.accordion button
{
	background:none;
	border:none;
	display:block;
	font-family:inherit;
	font-size:1rem;
	font-weight:400;
	outline:none;
	padding:1em 0;
	position:relative;
	text-align:left;
	width:100%
}

.accordion button .accordion-title
{
	padding:1em 1.5em 1em 0
}

.accordion button .icon
{
	border:1px solid;
	border-radius:22px;
	display:inline-block;
	height:22px;
	position:absolute;
	right:0;
	top:18px;
	width:22px
}

.accordion button .icon::after
{
	background:currentColor;
	content:'';
	display:block;
	height:10px;
	left:9px;
	position:absolute;
	top:5px;
	width:2px
}

.accordion button .icon::before
{
	background:currentColor;
	content:'';
	display:block;
	height:2px;
	left:5px;
	position:absolute;
	top:9px;
	width:10px
}

.accordion button:hover,.accordion button:focus
{
	cursor:pointer
}

.accordion button:hover::after,.accordion button:focus::after
{
	border:1px solid #1d1f1c;
	cursor:pointer
}

.accordion button[aria-expanded='true']
{
	color:#1d1f1c
}

.accordion button[aria-expanded='true'] .icon::after
{
	width:0
}

.accordion button[aria-expanded='true']+.accordion-content
{
	max-height:9em;
	opacity:1;
	transition:all 200ms linear
}

.admin-badge
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#E31E33;
	display:flex;
	font:inherit;
	padding:5px 10px;
	width:max-content
}

.admin-badge svg
{
	height:18px;
	width:18px
}

.container
{
	margin:0 auto;
	padding:4rem;
	width:48rem
}

.contribute-body
{
	margin-top:20px;
	padding:0 40px
}

.contribution
{
	border:1px solid #473a43;
	border-radius:4px;
	margin:10px;
	padding:10px 20px
}

.edit-heading
{
	color:#473a43;
	font-size:32px;
	margin:0;
	padding:0 40px;
	text-align:center
}

.edit-summary
{
	color:#473a43;
	font-size:16px;
	margin:0;
	padding:0 40px;
	text-align:left
}

.edit-tag
{
	background-color:#1d1f1c;
	border-radius:4px;
	display:inline-block;
	margin-top:8px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none
}

.edit-tag p
{
	color:green;
	text-decoration:none
}

.edit-tag-people
{
	background-color:#1d1f1c;
	border-radius:4px;
	bottom:5px;
	display:inline-block;
	left:5px;
	margin-top:8px;
	padding-left:8px;
	padding-right:8px;
	position:absolute;
	text-decoration:none
}

.edit-tag-people p
{
	color:green;
	text-decoration:none
}

.original-summary
{
	color:#473a43;
	font-size:16px;
	margin:0;
	padding:0 60px;
	text-align:left
}

.person-info
{
	display:flex;
	font:inherit;
	margin:0
}

.person-info img
{
	border:1px solid #000;
	max-height:200px;
	max-width:200px
}

.person-info-text
{
	display:flex;
	font:inherit;
	text-align:left;
	width:40%
}

.person-info-text p
{
	margin:0;
	padding:0
}

.source-input
{
	display:flex;
	padding:0 40px
}

.source-input button
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#d45858;
	display:inline-block;
	height:30px;
	width:30px
}

.source-input button svg
{
	height:20px;
	width:20px
}

.source-list
{
	font:inherit;
	padding:0 40px
}

.source-list ol
{
	display:flex;
	list-style:none;
	margin:0!important
}

.source-list ol li
{
	display:flex
}

.source-list ol li button
{
	background-color:#1d1f1c;
	border-radius:4px;
	display:inline-block;
	height:30px;
	width:30px
}

.source-list ol li button svg
{
	height:20px;
	width:20px
}

.source-list ol li p
{
	box-sizing:border-box;
	font:inherit;
	margin:0;
	padding-left:20px;
	padding-right:20px;
	width:50%;
	word-wrap:break-word
}

.source-text-area
{
	background-color:#f8f8f8;
	border:1px solid #473a43;
	border-radius:4px;
	box-sizing:border-box;
	font:inherit;
	height:30px;
	margin:10px 0;
	padding:12px 20px;
	resize:none;
	width:50%
}

.summary-input
{
	padding:0 40px
}

.user
{
	display:flex;
	margin-bottom:20px;
	padding:0 40px
}

.user-badges
{
	display:flex;
	font:inherit;
	width:100%
}

.user-contributor-badge
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#ffd700;
	display:flex;
	font:inherit;
	padding:5px 10px;
	width:max-content
}

.user-contributor-badge svg
{
	height:15px;
	width:15px
}

.user-information
{
	display:flex;
	font:inherit;
	margin:20px 10px
}

.user-information-text
{
	display:flex;
	font:inherit;
	text-align:left;
	width:100%
}

.user-profile-picture
{
	display:flex;
	font:inherit;
	text-align:left;
	vertical-align:top
}

.user-profile-picture img
{
	border:1px solid #000;
	border-radius:4px;
	max-height:150px;
	max-width:150px
}

.user_buttons
{
	display:flex;
	font:inherit
}

.user_buttons button
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#FFF;
	display:inline-block;
	padding:8px
}

.user_buttons p
{
	text-align:center;
	width:100%
}

::-webkit-scrollbar
{
	height:2px;
	width:2px
}

::-webkit-scrollbar-thumb
{
	background:#473a43
}

::-webkit-scrollbar-track
{
	background:#f1f1f1
}

form
{
	margin:0;
	padding:0;
	width:100vw
}

form textarea
{
	background-color:#f8f8f8;
	border:1px solid #473a43;
	border-radius:4px;
	box-sizing:border-box;
	font:inherit;
	height:300px;
	margin:10px 0;
	padding:12px 20px;
	resize:none;
	width:100%
}

input[type="submit"]
{
	background-color:#1d1f1c;
	border-radius:4px;
	color:#FFF;
	display:inline-block;
	margin:0 40px;
	padding:8px
}

label
{
	color:#473a43;
	font-size:16px;
	margin:0;
	padding:0 40px;
	text-align:left
}

@media all and (max-width: 360px) {
	.events-wrapper::before
	{
		top:32px
	}
}