<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title> {{century}}/{{decade}} - World History Timeline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="https://static.thenounproject.com/png/26949-200.png" />
  </head>
  <body>
    <h2>Under construction</h2>
        </div>

        <div class="timeline-footer-title" id="contribute">
            <div>
                <h2>Made by Isak Horvath</h2>
                <p class="timeline-footer-paragraph">
                    This is a hobby project developed by one person with little to no
                    free time, if you want to support this or other similar projects
                    please visit this
                    <a href="https://github.com/tavro">GitHub</a> account.
                </p>
            </div>
        <div>
            <h2>Contribute to the project</h2>
            <p class="timeline-footer-paragraph">
                Please feel free to contribute by fact checking and making the summaries better, you can do this by editing through our <a href="/contribute">CMS</a> or by contributing to our <a href="https://github.com/tavro/WorldHistoryTimeline">GitHub </a>project.
        </div>
      </div>
    </div>
    {% if session.logged_in %}
    <div class="user">
      <p>Logged in as <a href="https://github.com/{{ session.username }}">@{{ session.username }}</a></p>
    <div class="user_buttons">
    <button class="user_button" onclick="window.location.href='/logout'">Logout</button>
    <button class="user_button" onclick="window.location.href='/account'">Account</button>
    </div>
    </div>
    {% endif %}
  </body>
</html>
